.vacations #checkBoxSection {
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
}

.vacationsPage {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    margin: 5px;
}