.UsersTable {
	
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  th {
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  