.VacationCard {
	width: 500px;
    display: inline-flex;
    text-align: left;
    border: 1px solid;
    border-radius: 10px;
}

.VacationCard img {
    width: 100%;
    height: auto;
    border: 1px solid;
    border-radius: 10px;
    vertical-align: middle;
}

.VacationCard > div:last-child {
    margin-left: auto;
}

.priceTag {
    color: white;
    background-color:blue;
    text-align: center;
}